* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* menu */
.menu {
  padding: 1.5rem 2.5rem;
  border-bottom: 2px solid #ddd;
}
.container-geral {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-geral h2 {
  margin-left: 10px;
}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navbar li {
  margin: 10px;
  list-style: none;
  text-decoration: none;
}
.navbar a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.navbar a:hover {
  font-weight: bold;
  color: #b1b0b2;
}

/* container geral da main */
.container {
  display: flex;
  padding: 2rem 2.5rem;
  gap: 3rem;
  max-width: 1400px;
  margin: 0 auto;
}
#posts-container {
  flex: 3 1 0;
}
.post img {
  width: 100%;
  margin-bottom: 1rem;
}
.title,
.description,
.author {
  margin-bottom: 1rem;
}
.post {
  margin-bottom: 2.5rem;
}

/* menu lateral */
aside {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#sidebar {
  flex: 1 1 0;
}
#search-bar,
#categories,
#tags {
  padding: 1.5rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}
#search-bar input {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
}
#search-bar input[type="submit"] {
  cursor: pointer;
  color: #fff;
  border: none;
}
.submit {
  background-color: #37a1f7;
}
.submit:hover {
  background-color: #115892;
}
#categories li {
  margin-bottom: 1rem;
}

#tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#tags-container a {
  background-color: #ddd;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
}

/* footer */
#footer {
  border-top: 2px solid #ddd;
  padding: 3rem;
  text-align: center;
}

/* container develop */
.container-develop {
  display: block;
  margin: 6px;
  font-size: 20px;
}
.no-underline {
  text-decoration: none;
}
.container-develop strong {
  font-family: "Mr De Haviland", cursive;
}
.container-develop strong:hover {
  text-shadow: #0056b3 2px 1px 3px;
}
